<!DOCTYPE html>
<html>
  <head>
    <title>DocumentsDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class='h-full min-h-screen w-full flex flex-col bg-slate-100 overflow-y-auto'>
    <nav class='h-fit w-full flex flex-row justify-between p-6 sm:px-12 shadow-md'>
      <ul class='flex flex-row gap-4'>
        <li>
          <%= link_to 'Home', root_path, class: 'font-semibold no-underline' %>
        <li>
        <li>
          <%= link_to 'Lists', lists_path, class: 'no-underline' %>
        </li>
      </ul>
      <% if user_signed_in? %>
        <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'bg-slate-100 text-slate-950' %>
      <% end %>
    </nav>
    <section class='flex-1 h-full w-full flex flex-col gap-4 p-6 sm:px-12'>
      <%= yield %>
    </section>
    <footer class='h-10 w-fit mx-auto flex flex-row p-6 gap-12 text-sm'>
      <span>&copy; Ty Jacalan, 2024</span>
    </footer>
  </body>
</html>
